.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 6rem;
  gap: 3rem;

  .conteudo {
    max-width: 480px;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.1;
      margin: 1.5rem 0;
      color: #000;
    }

    p {
      font-size: 1.125rem;
      color: #444;
      line-height: 1.6;
      margin-bottom: 2rem;
    }

    .buttons {
      display: flex;
      gap: 2rem;

      .btnUm {
        padding: 12px 24px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        background: #00745a;
        color: #fff;

        &:hover {
          background-color: #02634c;
        }
      }

      .btnDois {
        padding: 12px 24px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        border: 2px solid #00745a;
        color: #00745a;
      }
    }
  }
}
section.sectionMissao {
  background-color: #00745a;
  color: white;
  padding: 50px;
}
