.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 2px solid #838383;

  .BoxLogo {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    a {
      text-decoration: none;
      color: #000;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      text-decoration: none;
      color: #000;

      &:nth-child(1) {
        border: 1px solid #00745a;
        border-radius: 8px;
        padding: 0.5rem 1.3rem;
        transition: 0.7s ease;
        &:hover {
          color: white;
          transform: scale(1.1);
          background-color: var(--corHover);
        }
      }

      &:nth-child(2) {
        background-color: #00745a;
        color: #fff;
        padding: 0.6rem 1.3rem;
        border-radius: 8px;
        font-weight: 600;
        transition: 0.7s ease;
        &:hover {
          background-color: var(--corHover);
          transform: scale(1.05);
        }
      }
    }
  }
}
