:root {
  --bgColor: #0b0b0b;
}

.footer {
  background-color: var(--bgColor);
  color: white;
  font-size: 14px;
}
.infos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 50px;
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  .boxApresentacao {
    .boxLogo {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
      font-size: 14px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .boxContato {
    h3 {
      margin: 0px 5px 20px 5px;
    }
    div {
      padding: 5px;
      display: flex;
      justify-content: start;
      gap: 10px;
    }
  }
  .redes {
    h3 {
      margin: 0px 5px 20px 0px;
    }
    p {
      font-size: 14px;
      padding: 5px;
    }
  }
}
.copy {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-top: 2px solid black;
}

@media screen and (max-width: 1140px) {
  .infos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
